<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %}
	<title>{{ site_name }}{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta charset="utf-8">

	<meta property="og:title" content=""/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content="" />
	<meta property="og:site_name" content='{{ site_name }}'/>
	<meta property="og:description" content=""/>

	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<style> body { padding-top: 60px; } </style>

	<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	{% endblock %}
  </head>

  <body>

	{% block navbar %}
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			  <a class="brand" href="/">{{ site_name }}</a>
			  <div class="nav-collapse">
				<ul class="nav">
				</ul>
				{% block navbar_right %}
				<ul class="nav pull-right">
					<li><a href="/">Home</a></li>
				</ul>
				{% endblock %}
			  </div><!--/.nav-collapse -->
			</div>
		  </div>
	</div>
	{% endblock %}

	<div class="container page">
		<div class="content">
		  {% block content %}
		  {% endblock %}
		</div>

		<hr>

		{% block footer %}
		<footer class="footer">
			<p>&copy; {{ site_name }}</p>
		</footer>
		{% endblock %}
	</div>
  </body>
</html>